html, body, div, ul, li, a {margin: 0; padding: 0; border: 0;}

* {
    color: #ebdbb2;
    font-family: Fira Code;
    vertical-align: center;
    align-content: center;
    text-align: center;

    /* adjust width in container (this way, padding doesn't modify div's size) */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    background-color: #282828;    
    background-image: url(../resources/gruvbox-squares.png);
}

body img {
    width: 100%;
    height: auto;
}

nav {
    background-color: #282828;  
    font-size: 14px;  
    
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px;
}

.profile_pic {
    margin-top: 80px;
    margin-bottom: -25px;
}

.profile_pic img {
    background: gray;
    width: 10%;
    border-color: #282828;
    border-radius: 1000px;
    padding: 2px;
}

.container {
    width: 75%;
    margin: auto;
}

section {
    text-align: center;
    font-size: 30px;
    background-color: #282828;
    width: 75%;
    margin: auto;
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px #000000b2;
}

article {
    text-align: justify;
    font-size: medium;
    background-color: #282828;
    width: 75%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px #000000;
}

article img {
    /* width: 25%; */
    /* height: 25%; */
}

article .left {
    /* background-color: red; */
    float: left;
    width: 30%;
    margin-right: 20px;
    text-align: center;
}

article .right {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
}

a {
    color: #d3869b;;
    background-color: #3d3d3d;
    padding: 3px;
}

article a {
    color: #fabd2f;
    background-color: rgba(0, 0, 0, 0);
}

a:hover {
    color: #fb4934;
}

.red { color: #fb4934; }
.green { color: #b8bb26; }
.yellow { color: #fabd2f; }
.purple { color: #d3869b; }

@media (min-width: 320px) and (max-width: 480px) {

    .container {
        width: 100%;
    }

    section {
        width: 100%;
        border-radius: 0px;
    }

    article {
        margin-bottom: 0px;
        margin-top: 0px;
        width: 100%;
        border-radius: 0px;
        font-size: 17px;
    }

    nav a {
        font-size: 25px;
    }

    nav {
        margin-bottom: 300px;
    }
}
