:root {
    --background:   #32302f;
    --foreground:   #d4be98;
    --red:          #ea6962;
    --green:        #a9b665;
    --yellow:       #e78a4e;
    --purple:       #d3869b;
    --blue:         #7daea3;
}


html, body, div, ul, li, a {margin: 0; padding: 0; border: 0;}

* {
    color: var(--foreground);
    font-family: Inconsolata;
    vertical-align: center;
    align-content: center;
    text-align: center;

    /* adjust width in container (this way, padding doesn't modify div's size) */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    background-color: var(--background);    
    background-image: url(../resources/gruvbox-squares.png);
}

body img {
    width: 100%;
    height: auto;
}

nav {
    background-color: var(--background);  
    font-size: 14px;  
    
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px;
}

.profile_pic {
    margin-top: 80px;
    margin-bottom: -25px;
}

.profile_pic img {
    background: gray;
    width: 10%;
    border-color: var(--background);
    border-radius: 1000px;
    padding: 2px;
}

.container {
    width: 75%;
    margin: auto;
}

section {
    text-align: center;
    font-size: 30px;
    background-color: var(--background);
    width: 75%;
    margin: auto;
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px #1f1f1f;
}

article {
    text-align: justify;
    font-size: medium;
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px #1f1f1f;
}

article img {
    /* width: 25%; */
    /* height: 25%; */
}

article .left {
    /* background-color: red; */
    float: left;
    width: 30%;
    margin-right: 20px;
    text-align: center;
}

article .right {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
}

a {
    color: #d3869b;;
    background-color: #3d3d3d;
    padding: 3px;
}

article a {
    color: #fabd2f;
    background-color: rgba(0, 0, 0, 0);
}

a:hover {
    color: #fb4934;
}

.red { color: var(--red); }
.green { color: var(--green); }
.yellow { color: var(--yellow); }
.purple { color: var(--purple); }
.blue { color: var(--blue); }
.white { color: var(--foreground); }

.bg-background { background-color: var(--background); }
.bg-red { background-color: var(--red); }
.bg-green { background-color: var(--green); }
.bg-yellow { background-color: var(--yellow); }
.bg-purple { background-color: var(--purple); }
.bg-blue { background-color: var(--blue); }

@media only screen and (hover: none) and (pointer: coarse) {

    .container {
        width: 100%;
    }

    section {
        width: 100%;
        border-radius: 0px;
    }

    article {
        margin-bottom: 0px;
        margin-top: 0px;
        width: 100%;
        border-radius: 0px;
        font-size: 17px;
    }

    nav a {
        font-size: 25px;
    }

    nav {
        margin-bottom: 300px;
    }
}

@font-face {
      font-family: "Fira Code Retina NF";
      src: url("https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/FiraCode/Retina/complete/Fira%20Code%20Retina%20Nerd%20Font%20Complete%20Mono.ttf");
}
